.chatContainer {
    height: 100%;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
}

.messages {
    height: 75%;
    overflow-y: auto;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.messageInput {
    display: flex;
    height: 10%;
    width: 100%;
}