@use '../../styles/theme';

.messageInputContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    padding-left: 50px;
    padding-right: 50px;

    :global(.rce-input) {
        background-color: theme.color('gray-5');
        color: theme.color('white');
        margin-right: 10px;
    }

    input {
        padding-left: 10px;
        padding-right: 10px;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }

    input:focus {
        box-shadow: 0 0 4px 1px theme.color('primary');
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }

    button {
        color: transparent !important;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        color: transparent;
        background-image: url(../../assets/send.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.sendBtn {
    background-color: theme.color('primary') !important;
}